body {
    background-color: #F2F2F2;
    margin: 2% 5% 2% 5%;
    overflow-x: hidden;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    font-family: Lexend;
    font-weight: lighter;
    color: #23395D;
}

h2 {
    text-align: left;
    font-size: 1.2rem;
    font-family: Lexend Deca;
    font-weight: 500;
    line-height: 2rem;
    color: #23395D;
}

h3 {
    text-align: left;
    font-size: 1.2rem;
    font-family: Lexend Deca;
    font-weight: 500;
    line-height: 2rem;
    color: #23395D;
    margin-left: 2rem;
}

h4 {
    text-align: left;
    font-size: 3rem;
    font-family: Lexend Deca;
    font-weight: 500;
    line-height: 2rem;
    color: #23395D;
}

h5 {
    font-size: 1.5rem;
    text-align: center;
    font-family: Lexend;
    font-weight: lighter;
    color: #23395D;
    margin-bottom: -1.5rem;
}

h6 {
    text-align: left;
    font-size: 1.2rem;
    font-family: Lexend Deca;
    font-weight: 500;
    line-height: 2rem;
    color: #23395D;
}

::selection {
    color: #F2F2F2;
    background-color: #23395D;
}

::-moz-selection {
    color: #F2F2F2;
    background-color: #23395D;
}

.navigation {
    display: flex;
    align-items: center;
    margin-top: -3rem;
}

.menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.menu ul {
    display: flex;
    list-style: none;
    color: #23395D;
    font-family: Lexend;
    text-decoration: none;
}

.menu li {
    padding: 2rem;
    font-size: 1.25rem;
}

.menu a:link {
    color: #23395D;
    text-decoration: none;
}

.menu a:visited {
    color: #23395D;
    text-decoration: none;
}

.menu a:hover {
    color: #6CA69C;
    text-decoration: none;
}

.menu a:active {
    color: #23395D;
    text-decoration: none;
}

.introductionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.headshot {
    border-radius: 0.75rem;
    width: 35%;
    display: block;
    margin-right: auto;
}

.introductionText {
    width: 60%;
    color: #23395D;
}

.introductionText .aboutButton {
    width: 17rem;
    height: 2.4rem;
    position: relative;
    top: 7.5%;
    left: 50%;
    color: #F2F2F2;
    background-color: #23395D;
    font-size: 1rem;
    font-family: Lexend;
    font-weight: lighter;
    border: none;
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.introductionText .aboutButton a:hover {
    color: #97D1C7;
    text-decoration: none;
}

.aboutButton a:link {
    text-decoration: none;
    color: #F2F2F2;
}

.aboutButton a:active {
    text-decoration: none;
    color: #F2F2F2;
}

.aboutButton a:visited {
    text-decoration: none;
    color: #F2F2F2;
}

.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
}

.accordion label {
    display: block;
}

.accordion {
    margin-bottom: -3.5rem;
}

.accordion > input[type="checkbox"]:checked ~ .content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border: 0.5rem;
}

.accordion .handle {
    font-size: 1.2rem;
    font-family: "Lexend Deca";
    font-weight: 500;
    color: #23395D;
}

.accordion label {
    color: #23395D;
    cursor: pointer;
    font-weight: normal;
    padding: 1rem;
    background: #E6E6E6;
    border-radius: 0.75rem;
}

.accordion label:hover, .accordion label:focus {
    background: #D6D6D6;
}

.accordion .handle label:before {
    content: "→";
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2rem;
    line-height: 1.556em;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content: "↓";
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 1.5625rem;
    height: 0.188rem;
    margin: 0.313rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #23395D;
    border-radius: 4rem;
}

body::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    background-color: #B6B6B6;
    border-radius: 17px;
    border: 5.5px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #A6A6A6;
    border-radius: 17px;
    border: 5.5px solid transparent;
    background-clip: content-box;
}

.socials {
    display: flex;
    justify-content: center;
}

.socialsImages {
    width: 2.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.footer {
    margin-bottom: -0.75rem;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.columnTop {
    flex: 50%;
}

.projectAccordian > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.projectAccordian .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.projectAccordian > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
}

.projectAccordian label {
    display: block;
}

.projectAccordian {
    margin-bottom: 1em;
}

.projectAccordian > input[type="checkbox"]:checked ~ .content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border: 0.5rem;
}

.projectAccordian .handle {
    font-size: 1.2rem;
    font-family: "Lexend Deca";
    font-weight: 500;
    color: #23395D;
}

.projectAccordian label {
    color: #23395D;
    cursor: pointer;
    font-weight: normal;
    padding: 1rem;
    background: #E6E6E6;
    border-radius: 0.75rem;
}

.projectAccordian label:hover, .accordion label:focus {
    background: #D6D6D6;
}

.projectAccordian .handle label:before {
    content: "→";
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2rem;
    line-height: 1.556em;
}

.projectAccordian > input[type="checkbox"]:checked ~ .handle label:before {
    content: "↓";
}

.projectImage {
    border-radius: 0.75rem;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comingSoon {
    border-radius: 0.75rem;
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.surroundsAbout {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.aboutImageLeft {
    border-radius: 0.75rem;
    height: 17rem;
    margin-bottom: 5rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 1.5625rem;
    height: 0.188rem;
    margin: 0.313rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #23395D;
    border-radius: 4rem;
}

@media (max-width: 1250px) {
    h3 {
        font-size: 1rem;
    }
}

@media (max-width: 1150px) {
    h3 {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    .surroundsAbout {
        flex-direction: column;
        align-items: center;
    }

    .aboutImageLeft {
        align-items: center;
        width: 50%;
        height: auto;
        margin-bottom: 0rem;
    }
}

@media (max-width: 1050px) {
    h4 {
        font-size: 1.2rem;
        text-align: center;
    }

    .introductionContainer {
        flex-direction: column;
    }

    .headshot {
        margin-left: auto;
        margin-right: auto;
        margin-top: -1.5rem;
        width: 50%;
    }

    .introductionText {
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 950px) {
    .comingSoon {
        width: 75%;
        margin-top: 2rem;
    }

    .headshot {
        margin-top: 1rem;
        width: 75%;
    }

    .hamburger {
        display: block;
        margin-left: auto;
        z-index: 1000;
        margin-top: -0.5rem;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(0.5rem) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-0.5rem) rotate(-45deg);
    }

    .menu {
        position: fixed;
        left: -100%;
        top: 4.5rem;
        gap: 0;
        flex-direction: column;
        background-color: #23395D;
        width: 100%;
        text-align: right;
        transition: 0.3s;
    }

    .menu.active {
        left: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu a:link {
        color: #F2F2F2;
        text-decoration: none;
    }

    .menu a:visited {
        color: #F2F2F2;
        text-decoration: none;
    }

    .menu a:hover {
        color: #6CA69C;
        text-decoration: none;
    }

    .menu a:active {
        color: #F2F2F2;
        text-decoration: none;
    }

    .aboutImageLeft {
        margin-top: 2rem;
        width: 75%;
    }

    h3 {
        font-size: 1.1rem;
        margin-left: 0rem;
    }

    .row {
        flex-direction: column;
    }

    .columnTop {
        margin-top: 1rem;
    }

    .column {
        margin-top: -3rem;
    }

    h5 {
        margin-bottom: -1rem;
    }

    .accordion {
        margin-bottom: -3rem;
    }
}

@media (max-width: 650px) {
    .accordion .handle {
        font-size: 1rem;
        font-family: "Lexend Deca";
        font-weight: 500;
        color: #23395D;
    }

    h6 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1.3rem;
        margin-bottom: -1rem;
    }

    .accordion {
        margin-bottom: -3rem;
    }

    .comingSoon {
        width: 90%;
        margin-top: 2rem;
    }
}

@media (max-width: 500px) {
    h3 {
        margin-top: 2rem;
        width: 100%;
        margin-left: 0rem;
    }

    h5 {
        font-size: 1.1rem;
        margin-bottom: -1rem;
    }

    .accordion .handle {
        font-size: 0.8rem;
        font-family: "Lexend Deca";
        font-weight: 500;
        color: #23395D;
    }

    h6 {
        font-size: 0.8rem;
    }
}
